<div class="popup">
  <div class="popup__header">
    <div class="popup__logo">
      <img src="images/logo-full.png" alt=""/>
    </div>
    <div class="popup__title">
      <div>Telegram Bots Games</div>
      <span>on the web</span></div>
  </div>

  <div class="popup__main">

    <div class="popup__controls">
      <span>Enable extension</span>
      <app-switch
        [ngModel]="config()?.enabled"
        (ngModelChange)="configService.setState$.next({ enabled: $event})"/>
    </div>
    <div class="popup__controls">
      <span>Open games in debug mode of the mobile device.</span>
      <app-switch
        [ngModel]="config()?.hamsterInWindow"
        [disabled]="!config()?.enabled"
        (ngModelChange)="configService.setState$.next({ hamsterInWindow: $event})"/>
    </div>
  </div>
</div>
